@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

/* Custom color theme */
:root {
  --f7-theme-color: #000000;
  --f7-theme-color-rgb: 0, 0, 0;
  --f7-theme-color-shade: #000000;
  --f7-theme-color-tint: #141414;
}
/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 0;
  --b: 0;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* body {
  height: 100%;
  width: 100%;
} */

#map {
  background: white;
  height: 100%;
  width: 100%;
}

.crosshair {
  visibility: hidden;
  position: absolute;
  width: 54px;
  height: 54px;
  background: transparent url(../img/crosshair.svg) 0 0 no-repeat scroll;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  pointer-events: none;
  z-index: 999;
  opacity: 1;
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 4px;
}

.leaflet-popup-content {
  margin: 5px 19px;
  line-height: 1.4;
}

.leaflet-popup-close-button {
  display: none;
}

.overlay {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.list {
  margin: 0px!important;
}

.panel, .panel-backdrop {
  z-index: 99999;
}

.gps_fixed::after {
  font-family: "Material Icons";
  content: "gps_fixed";
}

.gps_not_fixed::after {
  font-family: "Material Icons";
  content: "gps_not_fixed";
}

.leaflet-control-locate {
  display: none;
}

@media screen and (max-device-width: 320px) and (orientation: portrait){
  .navbar .title {
    font-size: 17px;
  }
}